body {
  background-color:  #333;;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(219, 219, 214)
}

.photo1 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    text-align:center;  
    box-shadow: 0 0 8px 8px black inset;
    border-radius: 50%;
    border: 5px solid rgb(219, 219, 214) ;
  }

  img:hover {
    box-shadow: 0 0 20px;;
  }

  .namekawa{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: wheat  ;
    font-size: 80px;
  }

  .div1{
    display: flex;
    border: 5px solid white;
  }

  .c-site-header {
    padding: 60px;
    text-align: center;
    background: #00719c;
    color: white;
    font-size: 30px;
  }

  nav {
    z-index: 2;
    padding: 30px;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: left;
    border-bottom: #00415a 5px solid;
    font-size: 30px;
}

a{
  color: wheat;
}

a:hover{
  color: red;
}

p{
  text-align: justify;
  font-size: 20px;
}

.allpar{
width: 80%;
/*border: 5px solid white;*/
padding: 20px;
margin: auto;
margin-top: 10px;

}